
<h1>Welcome to Yelpdemo!</h1>
<h2>This is one of the sample applications for Baserails; a platform that teaches people to build awesome custom websites with the Ruby on Rails programming language.</h2>
<p>Copyright &copy; <a href="http://www.github.com/vtt01uk">vtt01uk</a></p>